<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>lOvE</title>
    <link rel="stylesheet" href="/css/styles.css"> <!-- Link to your CSS file -->
    <script src="/js/scripts.js"></script> <!-- Link to your JavaScript file -->
</head>
<body>
    <header>
        <h1>This is all about PaLLaVi aNd mAhEsH lOvE</h1>
    </header>
    <section>
        <p>PaLLaVi kept my proposal on hold</p>
        <p>There are some reasons</p>
        <ul>
            <li>She is unable to get clarity</li>
            <li>Family is also one of the reason</li>
            <li>She need time to get clarity</li>
        </ul>
    </section>
    <footer>
        <p>&copy; 2023 Your Company. All rights reserved.</p>
    </footer>
</body>
</html>

